* {
  margin: 0;
  padding: 0;
}

.upper {
  background-color: #1f2937;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
}
.links {
  margin-right: 11%;
}
.links ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  font-size: 12px;
  gap: 20px;
}
.logo {
  font-family: Oswald;
  color: white;
  margin-left: 10%;
}
.links li {
  font-size: 12px;
  font-family: Fira Code;
  color: #e5e7eb;
  list-style-type: none;
}
.description {
  font-family: Fira Code;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin-right: 50px;
}
.description button {
  align-self: flex-start;
  width: 30%;
  color: white;
  padding: 5px;
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  font-family: Oswald;
  width: 22%;
  margin-top: 10px;
}
.placeholder {
  background-color: grey;
  padding: 90px;
}
.section h2 {
  color: black;
  font-family: Oswald;
}
.parent {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placeholders {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 25px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  display: flex;
}

.sub {
  color: black;
  display: flex;
  font-family: Oswald;
  font-size: 18px;
  width: 140px;
  text-align: center;
}
.boxes {
  display: flex;
  border: 3px solid rgb(58, 58, 246);
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin: 20px;
}

/*For the quote*/
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 27px;
  font-family: Fira Code;
  color: #1f2937;
  padding: 20%;
}
.message {
  display: flex;
  width: 64%;
}
.author {
  align-self: flex-end;
  margin-right: 19%;
  font-size: 20px;
}
#name {
  font-size: 12px;
  font-weight: bold;
}
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
#blue-holder {
  background-color: #3882f6;
  padding: 50px;
  margin: 20px;
  gap: 20px;
  color: white;
  width: 70%;
  display: flex;
  justify-content: center;
  font-family: Fira Code;
}

#blue-holder button {
  width: 15%;
  color: white;
  padding: 7px;
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 10px;
}
.foot {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-family: Fira Code;
  background-color: #1f2937;
  color: white;
}
